@use "../utils/variables" as vars;
@use "sass:color";

.grid-image-name {
  width: 100%;
  z-index: 100;
  position: absolute;
  font-size: 1rem;
  color: vars.$text-color;
  background-color: color.adjust(vars.$background-color, $lightness: 40%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}
