@use "../utils/variables" as vars;
@use "sass:map";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: vars.$secondary-color;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

@media (max-width: map.get(vars.$breakpoints, small)) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .search-input {
    width: 100%;
  }
}
