@use '../utils/variables' as vars;
@use "sass:map";

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }

  .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .big-tall {
    grid-column: span 2;
    grid-row: span 4;
  }

  @media (max-width: map.get(vars.$breakpoints, 'small')) {
    grid-template-columns: 1fr;

    .wide,
    .tall,
    .big,
    .big-tall {
      grid-column: span 1;
      width: 100%;
    }
  }
}
