@use "utils/variables" as vars;
@use "base/typography";
@use "components/card";
@use "components/navbar";
@use "components/no-data";
@use 'components/loading';
@use "pages/grid";

body {
  padding: vars.$global-padding;
}

#root {
  width: 100%;
  max-width: vars.$container-width;
  margin: 0 auto;
  text-align: center;
}
